:root {
	--project-color-1: #d84255;
	--project-color-2: #ee7368;
	--project-color-3: #00aeef;
}


:root[color-mode="light"] {
	--dark-color: #161616;
	--light-color: #f3f3f3;
	--project-bg-color-1: #df5668;
	--project-bg-color-2: hwb(204 49% 16%);
	--project-bg-color-3: hwb(177 75% 11%);
	--project-bg-color-4: hwb(105 75% 11%);
	--project-bg-color-5: hwb(250 74% 24%);
	--toggler-switch-position: right;
	--svg-opacity: 1;
	--icon-brightness: brightness();

}

:root[color-mode="dark"] {
	--dark-color: #f3f3f3;
	--light-color: #161616;
	--project-bg-color-1: hwb(349 11% 78%);
	--project-bg-color-2: hwb(204 4% 74%);
	--project-bg-color-3: hwb(248 13% 78%);
	--project-bg-color-4: rgb(24, 35, 27);
	--project-bg-color-5: hwb(252 12% 84%);
	--toggler-switch-position: left;
	--svg-opacity: 0.35;
	--icon-brightness: brightness(11);
}

:root[color-mode="light"] .light--hidden {
	display: none;
}

:root[color-mode="dark"] .dark--hidden {
	display: none;
}

* {
	font-family: 'Inter', sans-serif;
	color: var(--dark-color);
}

a {
	text-decoration: none;
	color: var(--dark-color);
	cursor: pointer;
}

b {
	font-weight: 600;
	font-style: normal;
}

a:hover {
	text-decoration: underline;
}

a:hover img {
	opacity: 0.7;
}

a.button {
	height: 60px;
	width: 100%;
	max-width: 200px;
	align-items: center;
	justify-content: center;
	text-align: center;
	align-self: center;
	display: inline-flex;
	border-radius: 60px;
	background-color: var(--light-color);
	border-style: none;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
}

a.button:hover {
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 0 0 #000,
		inset 0 0 0 2px #fff;
}

body {
	background-color: var(--light-color);
}

h1,
h2 {
	font-family: 'Outfit', sans-serif;
	line-height: 2;
}


main {
	max-width: 900px;
	margin: auto;
	padding: 5vw;
}

nav {
	padding: 30px;
}

.mode-toggler {
	background-color: transparent;
	border-color: transparent;
	float: right;
	width: 40px;
	height: 22px;
}

.toggler-border {
	border: 2px solid var(--dark-color);
	background-color: var(--light-color);
	width: 40px;
	height: auto;
	border-radius: 50px;
	position: fixed;
	z-index: 30;
	margin: 0;
	padding: 0;
}

.toggler-switch {
	background-color: var(--dark-color);
	width: 20px;
	height: 20px;
	margin: 1px;
	border-radius: 13px;
	float: var(--toggler-switch-position);
}


header {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: auto;
}

header h1 {
	position: relative;
	padding-bottom: 40%;
	z-index: auto;
}

header svg {
	position: absolute;
	z-index: -1;
	margin-top: -40%;
	height: 100%;
	width: 100%;
	opacity: var(--svg-opacity);
}

nav img,
footer img {
	filter: var(--icon-brightness);
}

.header-path {
	stroke-dasharray: 10000;
	animation: dash 30s ease-in-out infinite;
}

#path2 {
	animation-delay: 10s;
	stroke-dashoffset: -10000;
}

#path3 {
	animation-delay: 20s;
	stroke-dashoffset: -10000;
}

@keyframes dash {
	0% {
		stroke-dashoffset: 10000;
	}

	30% {
		stroke-dashoffset: 0;
	}

	40% {
		stroke-dashoffset: -10000;
	}

	100% {
		stroke-dashoffset: -10000;
	}
}

.projects {
	padding: 0 80px;
	gap: 80px;
	border-radius: 40px;
	box-shadow: 0 4px 12px #00000060;
	display: flex;
	align-items: flex-end;
	height: 450px;
	margin-bottom: 200px;
}

.projects:nth-of-type(1) {
	background-color: var(--project-bg-color-1);
}

.projects:nth-of-type(2) {
	background-color: var(--project-bg-color-2);
}

.projects:nth-of-type(3) {
	background-color: var(--project-bg-color-3);
}

.projects:nth-of-type(4) {
	background-color: var(--project-bg-color-4);
}

.projects:nth-of-type(5) {
	background-color: var(--project-bg-color-5);
}

.projects:nth-child(odd) {
	flex-direction: row-reverse;
}

.projects:nth-child(even) {
	flex-direction: row;
}

.projects div {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.projects div:nth-child(even) {
	align-items: center;
	width: 100%;
	height: auto;
}

.projects div:nth-child(odd) {
	align-items: center;
	width: 100%;
	height: 100%;
}

.projects-info {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.projects-info h2 {
	margin: 0;
	line-height: 1.4;
}

.projects-info p {
	margin: 20px 0 30px 0;
	line-height: 1.6;
}

.projects img {
	width: auto;
	max-height: 550px;
}

.main-module a.button {
	margin: auto;
	background-color: var(--light-color);
	color: var(--dark-color);
}

.main-module p {
	max-width: 500px;
	font-size: 16px;
	line-height: 2;
	margin: 10px auto 40px;
}

.main-module h2 {
	line-height: 1.4;
	max-width: 500px;
	width: 100%;
	margin: 70px auto 20px;
	font-size: 36px;

}

.main-module h3 {
	max-width: 500px;
	width: 100%;
	margin: 50px auto 20px;
	font-size: 22px;
}

.separator {
	width: 100%;
	max-width: 600px;
}

.main-module .separator {
	background-color: transparent;
	padding: 0;
	margin: 80px auto;
}

.separator h3,
.separator p {
	margin: 0;
	padding: 0;
}

.main-module video {
	width: fit-content;
	max-height: 800px;
	max-width: 100%;
	margin: 10px auto 40px;
	display: block;
	border-radius: 20px;
}

.main-module img {
	width: 100%;
	max-width: 800px;
	margin: 10px auto 40px;
	display: block;
	border-radius: 20px;
}

.main-module div {
	width: auto;
	max-width: 500px;
	padding: 50px;
	border-radius: 40px;
	height: auto;
	margin: 50px auto;
	background-color: #6d777c22;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
}

.main-module div li {
	font-family: 'Courier New', Courier, monospace;
	max-width: 82%;
}

ul,
ol {
	width: 100%;
	max-width: 500px;
	line-height: 1.6;
	margin: 0px auto 30px;
}

.main-module li {
	margin-top: 3%;
}

footer {
	max-width: 800px;
	font-size: 17px;
	line-height: 2;
	margin: 0 auto 80px auto;
	display: flex;
	gap: 20px;
	padding: 0 50px;
}

.footer-column {
	display: flex;
	flex-direction: row;
}

footer div {
	flex: 2;
}

footer p {
	font-size: 16px;
	margin: 0 0 10px;
	line-height: 1.7;
}

footer div:nth-child(1) {
	flex: 3;
}

footer div p:nth-child(1) {
	font-weight: 600;
}

/* ------ Project Page Styles ------ */

.header-project-page {
	height: auto;
}

.header-project-page h1 {
	padding-bottom: 0px;
	text-align: center;
	width: 100%;
	margin: auto;
	font-size: 50px;

}

.little-title {
	width: 100%;
	font-weight: 600;
	color: #868686;
}

.user-journey {
	display: flex;
	flex-direction: column;
	padding: 10px 24px;
	border-radius: 20px;
	gap: 10px;
	background-color: #6d777c22;
}

.user-journey p {
	font-size: 12px;
}

.user-journey div {
	display: flex;
	border-bottom: 1px solid rgb(221, 221, 221);
	gap: 20px;
}

.user-journey div p {
	display: flex;
	flex-direction: row;
	flex: 3;
	margin-bottom: 26px;
}

.user-journey div:nth-child(1) p {
	font-weight: 600;
	font-size: 16px;
}

.user-journey div:last-of-type {
	border-bottom: transparent;
}

.user-journey p:nth-child(1) {
	font-weight: 600;
	flex: 2;
}

.youtubeplayer {
	position: relative;
	width: 92%;
	height: 90;
	padding: 0 0 56% 0;
	margin: auto;
}

.youtubeplayer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	border-radius: 10px;


}

/* ------ Media Queries ------ */

@media only screen and (max-width: 1000px) {
	.projects {
		padding: 0 60px;
		gap: 30px;
	}
}

@media only screen and (max-width: 800px) {
	.projects {
		padding: 60px 60px;
		gap: 20px;
		align-items: unset;
		margin: 0 auto 100px auto;
		overflow: hidden;
		min-height: 600px;
		max-width: 400px;
		width: 100%;
	}

	.projects:nth-child(odd) {
		flex-direction: column;
	}

	.projects:nth-child(even) {
		flex-direction: column;
	}

	.projects div:nth-child(odd) {
		align-items: flex-start;
	}

	.projects-info {
		align-items: flex-start;
		justify-content: flex-start;
	}

	.projects:nth-child(odd) img {
		transform: rotate(6deg);
		margin-right: 10px;
	}

	.projects:nth-child(even) img {
		transform: rotate(-6deg);
		margin-right: 10px;
	}

}

@media only screen and (max-width: 600px) {
	h1 {
		line-height: 1.4;
		font-size: 24px;
	}

	.projects {
		padding: 35px 35px;
		height: 450px;
		margin-bottom: 50px;
		width: unset;
	}


	.main-module p {
		font-size: 15px;
		line-height: 1.8;
		margin: 15px auto;
	}

	.main-module img {
		border-radius: 10px;
	}

	.main-module div {
		padding: 15px 25px 25px 25px;
		border-radius: 20px;
		margin: 25px auto;
		margin-bottom: 30px;
	}

	.user-journey {
		padding: 0;
		gap: 4px;
		border-radius: 0;
		padding: 0;
		background-color: transparent;
	}
}

@media only screen and (max-width: 520px) {

	footer {
		flex-direction: row;

	}

	.footer-column {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}

@media only screen and (max-width: 440px) {
	footer {
		flex-direction: column-reverse;
		gap: 40px;
	}

	.footer-column {
		flex-direction: row;
	}

	.user-journey p {
		font-size: 10px;
	}
}

@media only screen and (max-width: 360px) {
	h1 {
		font-size: 22px;
	}

	.projects {
		padding: 30px 30px;
		border-radius: 20px;
		box-shadow: 0 5px 10px #5d5d5d9c;
	}

	.projects img {
		max-width: 200px;
	}
}